<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Tic Tac Toe AI Agent</h1>

<div class="board">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>

    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>

    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>